@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.imgSmallContainer {
  width: 200px;
  height: 200px;
  & > img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
  }
}

.imgMiddleContainer {
  & > img {
    object-fit: cover;
    max-height: 400px;
  }
}

.productOperationContainer,
.productContainer {
  position: relative;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.fieldDescr {
  font-weight: bold;
  color: blue;
}

.productContainer {
  background-color: white;
  width: 250px;
  margin-bottom: 5vh;
  margin-left: 5vh;
  border-radius: 10px;
  border: 2px solid black;
  & > * {
    font-weight: bold;
    font-style: italic;
    color: blue;
    padding: 10px;
    padding-left: 20px;
    word-break: break-all;
    width: 210px;
    @include ellipsis;
  }
  & > .discount {
    color: red;
  }

  & > .productHeader {
    color: black;
  }

  & > .operationBlock {
    display: block;
    position: absolute;
    bottom: 0;
    border: 1px solid rgb(15, 1, 136);
    border-radius: 10px;
    box-shadow: 6px 2px 2px black, -6px 2px 2px black;
  }
}

.productOperationContainer {
  background: url("../../assets/images/bg0.jpg");
  & > .productOperationHeader {
    background-color: white;
    padding: 0px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px blue;
    text-shadow: 1px 2px 0px blue;
  }

  & > .productAdded {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
  }
}

.catalog {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: flex;
  // align-items: left;
  justify-content: left;
  flex-wrap: wrap;
}
