.header {
  display: flex;
  background-color: rgb(18, 66, 87);
  /* height: 100%; */
  font-size: 14px;
  justify-content: right;
  flex-direction: row-reverse;
}

.loginBlock {
  text-align: right;
  color: white;
}
.loginBlock > a {
  color: white;
}
