.nav {
  /* display: grid; */
  grid-area: n;
  background: linear-gradient(
    45deg,
    rgb(8, 8, 72) 80%,
    rgb(11, 11, 132) 90%,
    rgb(10, 10, 171) 95%
  );
  padding: 2vw;

  display: flex;
  justify-content: left;
  flex-direction: column;

  .item > a {
    color: white;
    &.activeLink {
      color: rgb(226, 194, 9);
    }
  }
}
