.formControl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.error input,
  &.error textarea {
    border: solid red 0.2vh;
  }

  & span {
    text-align: center;
    display: block;
    position: relative;
    z-index: 3;
    left: 0%;
    color: red;
    word-wrap: break-word;

    visibility: hidden;
  }

  &.error span {
    visibility: visible;
  }

  &.warning input,
  &.warning textarea {
    border: solid rgb(121, 121, 0) 0.2vh;
  }
}

.redux_form {
  overflow-y: scroll;
  overflow-x: hidden;

  input,
  textarea {
    min-width: 30vw;
    width: 90%;
    border-radius: 2vh 5vh 5vh 2vh;
    font-size: 2vh;
    margin-right: 2vw;
  }

  h3 {
    text-align: center;
  }
}

.formButtons {
  button {
    font-size: 2vh;
  }
}

// make like pop up?
.formSummaryError {
  border: solid red 0.2vh;
  padding: 0.5vh;
  width: 30vw;
}

// .imageForm {
//   & > * {
//     border: 2px solid black;
//   }
// }
.header {
  font-weight: bold;
}

.wholeForm {
  margin: 0 100px 0 100px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  // position: relative;
  width: 400px;
  // min-width: 400px;
  // max-width: 1000px;
  // left: calc(50% - 20vw);
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

  & > * {
    padding: 10px 10px 0px 10px;
    text-align: center;
  }
  padding-bottom: 10px;
}

.fieldDescr {
  font-weight: bold;
  color: blue;
}

.operationContainer {
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > .operationHeader {
    color: blue;
  }
}

.imgContainer {
  & > img {
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
  }
}
.uploadIcon {
  &:hover {
    cursor: pointer;
  }
}

// @media (min-width: 481px) and (max-width: 591px) {
//   .productContainer {
//     & > * {
//       font-size: 1.6vw;
//     }
//     & > .productHeader {
//       font-size: 2vw;
//     }
//   }
// }

@media (max-width: 480px) {
  .wholeForm {
    width: 200px;
  }
}
