/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  margin-top: 40vh;
  position: relative;
 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* .login_block {
  left: calc(50vw - 150px);
  top: calc(50vh - 150px);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid grey;
  border-radius: 20px;
  position: absolute;
} */

a {
  text-decoration: none;
  &:visited {
    color: rgb(60, 193, 115);
  }
  &:active {
    color: rgb(255, 0, 98);
  }
  &:hover {
    color: rgb(31, 8, 61);
    font-weight: 700;
    font-style: italic;
  }
}

.app-wrapper-content {
  background-image: url("./assets/images/bg3.jpg");
}

.imgSmallContainer {
  width: 200px;
  height: 200px;
  & > img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
  }
}

.imgMiddleContainer {
  & > img {
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .imgSmallContainer {
    height: 100%;
    & > img {
      object-fit: cover;
      max-width: 100px;
      max-height: 100px;
    }
  }

  .imgMiddleContainer {
    height: 100%;
    & > img {
      object-fit: cover;
      max-width: 300px;
      max-height: 300px;
    }
  }
}

@media (max-width: 480px) {
  .imgMiddleContainer {
    height: 100%;
    & > img {
      object-fit: cover;
      max-width: 200px;
      max-height: 200px;
    }
  }
}
